$goldColor:#DB8724;
$grey: #3B4149;
$lightGrey: #e7e8e9;
$blue: #313667;
$error:#fc6a57;
$success:#00981D;
$white:#ffffff;
$black:#000;
$maroon: #BB2953;

//font family
$fontTodes:"DM Sans";
$fontHelvetica:"DM Sans";

//fonts weights
$thin: 100;
$extraLight: 200;
$light: 300;
$normal:normal;
$medium: 500;
$semiBold: 600;
$bold: bold;
$bolder: 900;


$boxShadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

