.worker{
    input{
        margin-top: 50px;
        width: 60%;
        padding: 15px;
        border-radius: 20px;
        border: 1px solid $maroon;
        
    }
    .search-icon{
        right: 260px;
        bottom: 12px;
    }
    &--card{

       &-list{
        width: 370px;
        height: 250px;
       }
    }
    &--pagination{
        display: flex !important;
        justify-content: center !important;
    }
}

.employee{
    width: 600px;
    height: 400px;

    input{
        width: 90%;
    margin-bottom: 20px;
    border: none !important;
    border-bottom: 1px solid $grey !important;
    }

}

.delete{
    width: 400px;
    height: 250px;
}
